Repository UniTrackApp/dashboard, pull requests merged in 2023-11, with the labels that each got.

#44 feat: API routes implemented
  .vscode/launch.json
  prisma/migrations/20231107174038_added_student_card_id_as_unique/migration.sql
  prisma/schema.prisma
  src/pages/api/studentinfo.ts
Labels: ✨ feature, 🚚 api - nextjs routes

#43 refactor: Replaced `whateverProps` with `{ ctx }`
  package-lock.json
  package.json
  src/server/api/routers/attendance-records.ts
  src/server/api/routers/lecture.ts
  src/server/api/routers/module.ts
Labels: ♻️ refactor

#56 feat: Add autocomplete combobox and new features
  prisma/migrations/20231112005405_added_email_column/migration.sql
  prisma/migrations/20231112005513_removed_email_column/migration.sql
  prisma/schema.prisma
  src/app/dashboard/modules/page.tsx
  src/app/dashboard/records/add-record-form.tsx
  src/app/dashboard/records/page.tsx
  src/app/dashboard/records/record-table.tsx
  src/app/layout.tsx
  src/components/ui/command.tsx
  src/components/ui/form.tsx
  src/components/ui/popover.tsx
  src/server/api/routers/attendance-records.ts
  src/server/api/routers/lecture.ts
  src/server/auth.ts
  src/utils/constants.ts
Labels: ✨ feature, 🗃️ database, 💄 ui, 🚚 api - trpc, ♻️ refactor

#89 feat: Built pages to manage enrollments and modules
  .gitignore
  src/app/dashboard/enrollments/add-enrollment-form.tsx
  src/app/dashboard/enrollments/page.tsx
  src/app/dashboard/enrollments/record-table.tsx
  src/app/dashboard/modules/page.tsx
  src/app/dashboard/records/record-table.tsx
  src/app/dashboard/sidebar.tsx
  src/server/api/routers/enrollment.ts
Labels: 🗃️ database, 💄 ui, 🚚 api - trpc

#91 feat: Create tRPC procedures for Lecture router
  src/server/api/routers/lecture.ts
Labels: 🚚 api - trpc

#107 feat: Created the Lecture page to add and view lecture info
  package-lock.json
  package.json
  src/app/dashboard/enrollments/enrollment-table.tsx
  src/app/dashboard/enrollments/page.tsx
  src/app/dashboard/lectures/add-lecture-form.tsx
  src/app/dashboard/lectures/lecture-table.tsx
  src/app/dashboard/lectures/page.tsx
  src/app/dashboard/modules/page.tsx
  src/app/dashboard/records/add-record-form.tsx
  src/app/dashboard/records/page.tsx
  src/app/dashboard/sidebar.tsx
  src/app/dashboard/test/page.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-time/date-field.tsx
  src/components/ui/date-time/date-segment.tsx
  src/components/ui/date-time/date-time-picker.tsx
  src/components/ui/date-time/time-field.tsx
  src/components/ui/date-time/time-picker.tsx
  src/server/api/routers/lecture.ts
  src/utils/useForwardedRef.tsx
Labels: 💄 ui, 🚚 api - trpc, ⚛︎ react

#111 feat: Updated UI/UX, improved context actions, created new pages
  package-lock.json
  package.json
  src/app/dashboard/enrollments/enrollment-table.tsx
  src/app/dashboard/enrollments/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/lectures/lecture-table.tsx
  src/app/dashboard/lectures/page.tsx
  src/app/dashboard/loading.tsx
  src/app/dashboard/modules/module-table.tsx
  src/app/dashboard/modules/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/records/page.tsx
  src/app/dashboard/records/record-table.tsx
  src/app/dashboard/settings/page.tsx
  src/app/dashboard/sidebar.tsx
  src/app/dashboard/students/[id]/page.tsx
  src/app/dashboard/students/page.tsx
  src/components/theme-toggle.tsx
  src/components/ui/separator.tsx
  src/server/api/routers/student.ts
  src/utils/utils.ts
Labels: ✨ feature, 💄 ui, 🚚 api - trpc, 🚀 nextjs, 🌊 tailwind css, ⚛︎ react

#119 feat: Created AttendanceRecord API route
  src/pages/api/addAttendance.ts
  src/pages/api/createattendance.ts
Labels: 🗃️ database, 🚚 api - nextjs routes
